<section id="content">
  <div class="container">

    <div class="card">
      <div class="card-header ch-alt m-b-20">
        <h2>Tenants
          <small>Create and maintain white-labeled application tenants.</small>
        </h2>
        <a href="<%= new_tenant_path %>" class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i>
        </a>
      </div>

      <div class="table-responsive">
        <table id="data-table-basic" class="table table-striped bootgrid-table" aria-busy="false">
          <thead>
            <tr><th data-column-id="id" class="text-left" style=""><a href="javascript:void(0);" class="column-header-anchor sortable"><span class="text">ID</span><span class="zmdi icon zmdi-sort-amount-desc"></span></a></th>
              <th data-column-id="sender" class="text-left" style=""><a href="javascript:void(0);" class="column-header-anchor sortable"><span class="text">Tenant</span><span class="zmdi icon"></span></a></th>
              <th data-column-id="received" class="text-left" style=""><a href="javascript:void(0);" class="column-header-anchor sortable"><span class="text">Received</span><span class="zmdi icon"></span></a></th></tr>
            </thead>
            <tbody>
              <% @tenants.each do |t|%>
              <tr data-row-id="0"><td class="text-left" style=""><%= t.id %></td><td class="text-left" style=""><%= t.tenant_name%></td><td class="text-left" style=""><%= t.subdomain %></td></tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>


  <%= content_for :body_end do %>
  <%= init_grid(
                "grid-tenants",
                url: "/tenants.json",
                primaryKey: "id",
                formatters: {

                },
                handlers: {
                  click: { fn: :inspect, url: "/tenants", identifier: 'id'}
                }
                ) %>
                <% end %>
