<li class="dropdown">
  <a data-toggle="dropdown" href="">
    <i class="him-icon zmdi zmdi-notifications"></i>
    <i class="him-counts"><%= 3 %></i>
  </a>
  <div class="dropdown-menu dropdown-menu-lg pull-right">
    <div class="list-group him-notification" id="notifications">
      <div class="lg-header">
        Notifications
        <ul class="actions">
          <li class="dropdown">
            <%= link_to users_path do %>
            <i class="zmdi zmdi-check-all"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="lg-body">
        <% if false %>
        <div class="p-20 text-center f-14">
          There are no unread notifications.
        </div>
        <% else %>
        <%# current_user.notifications.sorted.each_with_index do |n,i| %>
        <% [1,2,3].each do |i| %>
        <% if i < 10 %>
        <a class="list-group-item media card" href="<%= users_path %>">
          <div class="media">
            <div class="pull-left p-r-5">
                <span>
                    <div class="col-sm-4 p-t-10 p-l-0" data-name="circle" data-code="f26d"><p><i class="zmdi zmdi-circle-o"></i></p></div>
                </span>
              </div>
              <div class="media-body p-l-0">
                <div class="lv-title"><%= ['frank','mary','Sister Contrary'].sample %></div>
                <small class="lv-small"><%= ['you are da bomb','yoo hoo!','50 dolla make you holla'].sample %></small>
              </div>
            </div>
          </a>
          <% end %>
          <% end %>
          <% end %>
        </div>
        <div class='view-more'>
          <%= link_to 'View All', users_path %>
        </div>
      </div>

    </div>
  </li>
