<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'core/header' %>
    <section id="main">
      <%= render partial: 'core/navigator' %>
      <%= yield %>
    </section>
    <%= render partial: 'core/footer' %>

  </body>
</html>
